<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retaining Samples</title>

    <!-- style -->
    <link href="../../../../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../../public/css/fontawesome.min.css" rel="stylesheet">
    <link href="../../../../public/css/newStyle.css" rel="stylesheet">

    <!-- CDN Links -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- Styles -->
    <style>
    </style>
</head>
<body>
    <!-- Navigation bar & Menu Item design -->
    <div class="container-fluid">
        <nav class="row nav navbar navbar-expand-md navbar-dark main-navbar">
            <div class="col-md-3 navtoggle">
                <a class="navbar-brand" href="#">Charcoal Lanka</a>
                <button type="button" class="navbar-toggler float-right" data-toggle="collapse" data-target=".navList" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon nav navbar-nav"></span>
                </button> 
            </div>
            <div class="col-md-4 searchbar navbar-collapse collapse navList">
                <form action="#" class="main-searchbar">
                    <span class="fa fa-search form-control-icon"></span>
                    <input type="text" placeholder="Search">
                </form>
            </div>
            <div class="col-md-5 navbar-collapse collapse navList">
                <ul class="nav navbar-nav user-data ml-auto">
                    <li class="icon-user"><a href="#"><i class="fas fa-user"></i> Mahesh Lowe - Laboratory - Admin</a></li>
                    <li class="icon-cog"><a href="#"><i class="fas fa-cog"></i></a></li>
                    <li class="icon-bell"><a href="#"><i class="fas fa-bell"></i></a></li>
                </ul>
            </div>
        </nav>
        <div class="row navbar navbar-expand-md navbar-dark main-menubar menu-bar">
            <div class="collapse navbar-collapse menu-bar navbar-dark bg-dark navList">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Dashboard</a>
                    </li>
                    <div class="vl"></div>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true" v-pre>Home<span class="caret"></span></a>
                        <ul class="dropdown-menu bg-dark">
                            <li class="nav-item"><a class="nav-link" href="#">Daily Task Assignments</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Add New Product</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Add New Bag</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Add New SOP</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Methods</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Specifications</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Parameters</a></li>
                        </ul>
                    </li>
                    <div class="vl"></div>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true" v-pre>Products<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-left bg-dark">
                            <li class="nav-item"><a class="nav-link" href="#">Product List</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">In Progress Productions</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Finished Products</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Insert Analysis Results</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Pending Analysis</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Kiln Analysis</a></li>
                        </ul>
                    </li>
                    <div class="vl"></div>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true" v-pre>Charcoal<span class="caret"></span></a>
                        <ul class="dropdown-menu bg-dark">
                            <li class="nav-item"><a class="nav-link" href="#">Summery</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Add New Supply</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Supplier Performance Analysis</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Suppliers</a></li>
                        </ul>
                    </li>
                    <div class="vl"></div>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true" v-pre>PO<span class="caret"></span></a>
                        <ul class="dropdown-menu bg-dark">
                            <li class="nav-item"><a class="nav-link" href="#">New PO</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">In Progress Analysis</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Finished PO</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Pending Analysis</a></li>
                        </ul>
                    </li>
                    <div class="vl"></div>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true" v-pre>ICP<span class="caret"></span></a>
                        <ul class="dropdown-menu bg-dark">
                            <li class="nav-item"><a class="nav-link" href="#">Product Analysis List</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Pending Analysis</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">In Progress Analysis</a></
                            <li class="nav-item"><a class="nav-link" href="#">Parameters</a></li>
                        </ul>
                    </li>
                    <div class="vl"></div>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true" v-pre>Sample<span class="caret"></span></a>
                        <ul class="dropdown-menu bg-dark">
                            <li class="nav-item"><a class="nav-link" href="#">Sample List</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Add New Sample</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Daily Sample Receiving</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Retaining</a></li>
                        </ul>
                    </li>
                    <div class="vl"></div>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true" v-pre>JSR<span class="caret"></span></a>
                        <ul class="dropdown-menu bg-dark">
                            <li class="nav-item"><a class="nav-link" href="#">JSR Sample List</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Add New JSR</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Completed JSR</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Pending Analysis</a></li>
                        </ul>
                    </li>
                    <div class="vl"></div>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true" v-pre>Charts & Reports<span class="caret"></span></a>
                        <ul class="dropdown-menu bg-dark">
                            <li class="nav-item"><a class="nav-link" href="#">Performance Evaluations</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Pending Report</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Sample Receiving Frequency</a></li>
                        </ul>
                    </li>
                    <div class="vl"></div>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true" v-pre>Inventory<span class="caret"></span></a>
                        <ul class="dropdown-menu bg-dark">
                            <li class="nav-item"><a class="nav-link" href="#">Chemicals</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Equipments</a></li>
                        </ul>
                    </li>
                    <div class="vl"></div>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true" v-pre>Lab Staff<span class="caret"></span></a>
                        <ul class="dropdown-menu bg-dark">
                            <li class="nav-item"><a class="nav-link" href="#">Employee List</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Department Structure</a></li>
                        </ul>
                    </li>
                    <div class="vl"></div>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true" v-pre>Help<span class="caret"></span></a>
                        <ul class="dropdown-menu bg-dark">
                            <li class="nav-item"><a class="nav-link" href="#">Help..</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Inprocess data table design -->
    <div class="container-fluid">
        <div class="form-inline page-heading">
            <h5>Retaining Sample Tracking</h5>
            <a href="#" class="ml-auto btn btn-sm btn-primary createNew"><i class="fa fa-plus"></i>Add New Retain</a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-style">
                    <table class="table-sm table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>MO No.</th>
                                <th>No of Samples</th>
                                <th>No of Boxes</th>
                                <th>Container No.</th>
                                <th>Location ID</th>
                                <th>Box No.</th>
                                <th>Retained By</th>
                                <th>Expiration</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="background: red;">
                                <td>1</a></td>
                                <td>4/5/2021</td>
                                <td>MO-01</td>
                                <td>xx</td>
                                <td>xx</td>
                                <td>Container-01</td>
                                <td>Loc-ID-</tdtd>
                                <td>Box-xx</td>
                                <td>Rep-xx</td>
                                <td>4/4/2021</td>
                            </tr>
                            <tr>
                                <td>2</a></td>
                                <td>4/5/2021</td>
                                <td>MO-01</td>
                                <td>xx</td>
                                <td>xx</td>
                                <td>Container-01</td>
                                <td>Loc-ID-</tdtd>
                                <td>Box-xx</td>
                                <td>Rep-xx</td>
                                <td>4/4/2022</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p style="background: yellow;">Note: Automatically filter after expired</p>
            </div>
        </div>
    </div>
    
    
    <!-- Scripts -->
    <script src="../../../../public/js/jquery-3.5.1.min.js"></script>
    <script src="../../../../public/js/popper.min.js"></script>
    <script src="../../../../public/js/bootstrap-4.6.min.js"></script>
</body>
</html>